html {
  background-color: hsl(213, 47%, 15%);
  }

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
  color: hsl(0, 0%, 100%);
  }

h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3em;
  font-weight: 500;
}

#section-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-player-img {
  display: none;
}

#display-computer-img {
  display: none;
}

.display-img-board {
  width: 25rem;
  height: 25rem;
  background-color: hsl(218, 17%, 53%); 
  border-radius: 8%;
  margin: 0 10rem;
}

#display-info {
  width: 25rem;
  height: 25rem;
  background-color: hsl(213, 47%, 15%); 
  border-radius: 8%;
  margin-top: 11rem;
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
}

#info {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
}

.result{
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  
}

.display-competitor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#section-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin: 3.5rem 3rem;
  transition: all .1s ease;

}
.button:hover{
  border-color: hsl(215, 46%, 95%);
  box-shadow: 0 0 1rem hsl(215, 46%, 95%);
  transform: scale(1.1);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: hsla(0, 0%, 0%, 0.5); /* dark gray overlay when modal pops up */
}

.modal-content {
  background: hsl(215, 46%, 95%);
  text-align: center;
  margin: 10% auto;
  width: 43rem;
  height: 18rem;
  border-radius: 6%;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 hsla(0, 0%, 0%, 0.2), 0 7px 20px 0 hsla(0, 0%, 0%, 0.17);

}

.modal-text {
  color: hsl(213, 47%, 15%);
  font-size: 2.8em;
  font-weight: 500;
  line-height: 1.5rem;
}

.play-again-button {
  display: inline-block;
  font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
  font-weight: 600;
  padding: 1.5rem 3.5rem;
  border-radius: 6%;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  outline-color: transparent;
  background-color:  hsl(213, 47%, 15%);
  border: none;

 
}

.play-again-button:hover{
  background-color:   hsl(213, 47%, 22%);
  color: hsl(0, 0%, 100%);

}
